/* Global Styles from React Router */

body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 100;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

.breadcrumbs a {
  text-decoration: none;
}

/* Sidebar Styles from React Router */

.Sidebar {
  float: left;
  background: #eee;
  padding: 20px;
  margin: 0 20px 20px 20px;
  width: 20%;
  cursor: pointer;
}

.Content {
  float: left;
  width: 70%;
}

.CategoryNav__Toggle:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.CategoryNav__Toggle--is-open:before {
  content: '▾';
}

